<h1>Hello App component!!! (start of component)</h1>


<!-- This is a "component directive" -->
<app-hero-list></app-hero-list>


<!-- We can add as many copies of our hero list component as we'd like
a component is a modularized html fragment, so we can easily duplicate it and
even customize the contents of each component (this is to say, we can have the
parent component pass custom information to the child component...we'll see
this a bit later) -->
<!-- <app-hero-list></app-hero-list>
<app-hero-list></app-hero-list> -->

<h1>Hello App component!!! (end of component)</h1>